:root {
  --primario: #FA8232;
  --blanco: #FFF;
  --negro: #000;
  --gris: #191C1F;
  --grisClaro: #77878F;
  --grisTransparente: rgba(25, 28, 31, 0.9);
  --fuentePrincipal: "Public Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** esto es para que 1 rem sea 10px **/
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Utilidades */

.centrar-texto {
  text-align: center;
}

/* globales */

a {
  color: var(--blanco);
  font-size: 1.5rem;
  margin: 2.5rem;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  line-height: 1.2;
  color: var(--primario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-size: 2rem;
  color: var(--blanco);
  margin-left: 3rem;
  /* Añadir margen a la izquierda */
  margin-right: 3rem;
  /* Añadir margen a la derecha */
}

body {
  background-color: var(--negro);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
/* Botón hamburguesa oculto por defecto */
.menu-toggle {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: var(--primario);
  z-index: 1100;
  cursor: pointer;
  margin-left: 2rem;
}

.menu-toggle-checkbox {
  display: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #nav-principal {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -10px);
    transition: all 0.4s ease;
    position: fixed;
    top: 110%;
    left: 50%;
    background-color: var(--grisTransparente);
    width: 100%;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
  }

  #nav-principal a {
    color: var(--primario);
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Mostrar menú si el checkbox está activado */
  .menu-toggle-checkbox:checked + .menu-toggle + #nav-principal {
    max-height: 500px; /* ajusta según el contenido */
    opacity: 1;
    transform: translate(-50%, 0);
    padding: 1rem;
    top: 101%;
  }

  .navegacion_lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }


  .navegacion_enlace {
    font-size: 1.6rem;
    transition: font-size 0.2s ease, transform 0.2s ease;
    display: inline-block;
    color: var(--primario);
  }

  .navegacion_enlace:hover {
    font-size: 2rem;
    transform: scale(1.1);
  }

}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #nav-principal {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -10px);
    transition: all 0.4s ease;
    position: fixed;
    top: 110%;
    left: 50%;
    background-color: var(--grisTransparente);
    width: 100%;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
  }

  #nav-principal a {
    color: var(--primario);
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Mostrar menú si el checkbox está activado */
  .menu-toggle-checkbox:checked + .menu-toggle + #nav-principal {
    max-height: 500px; /* ajusta según el contenido */
    opacity: 1;
    transform: translate(-50%, 0);
    padding: 1rem;
    top: 101%;
  }

  .navegacion_lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .navegacion_enlace {
    font-size: 2rem;
  }
  .navegacion_enlace {
    font-size: 1.2rem;
    transition: font-size 0.2s ease, transform 0.2s ease;
    display: inline-block;
    color: var(--primario);
  }

  .navegacion_enlace:hover {
    font-size: 1.5rem;
    transform: scale(1.1);
  }

}

.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grisTransparente);
  width: 100%;
  padding: 0 20px;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0);
  z-index: 1000;
  /* asegura que el header este sobre otros elementos */
}

.logo {
  display: flex;
  justify-content: center;
  width: 60%;
  font-family: var(--fuentePrincipal);
}

.logo_nombre {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--primario);
}

.logo_nombre,
.logo_img {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 1.8rem;
}

.navegacion {
  display: flex;
}
.navegacion a {
  padding: 0;
}
.buscador {
  display: flex;
  width: 100%;

}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grisTransparente);

    width: 100%;
    padding: 0 10%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 20%;
  }

  .logo_nombre,
  .logo_img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primario);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    margin: 1rem;
    width: auto;
    height: auto;

  }

  .buscador_formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}

.navegacion_enlace_carrito {
  width: 3rem;
  height: auto;
}

@media (min-width: 768px) {

  .navegacion,
  .buscador_formulario {
    display: flex;
    gap: 2rem;
  }
}

/* Buscador */

.buscador {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  /* Permite que ocupe todo el espacio disponible */
}

/* Estilo del input de búsqueda */
.buscador_formulario {
  display: flex;
  align-items: center;
  width: 100%;

}

#buscador-input::-webkit-search-cancel-button {
  display: none;
}

.buscador_formulario input[type="search"] {
  width: 100%;
  padding: 8px 40px 8px 10px;
  /* Espaciado para dar lugar al icono dentro del input */
  font-size: 1.6rem;
  border: 2px solid var(--gris);
  border-radius: 25px;
  /* Bordes redondeados */
  background-color: #fff;
  transition: border-color 0.3s;
  margin-top: 0;
}

.buscador_formulario input[type="search"]:focus {
  border-color: var(--primario);
  /* Cambiar el color del borde cuando está enfocado */
  outline: none;
}

.buscador_formulario button {
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 14px;
  /* Tamaño del icono */
  height: 14px;
  background-image: url('../img/lupa.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

@media (min-width: 768px) {
  .buscador {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    /* Permite que ocupe todo el espacio disponible */
  }

  /* Estilo del input de búsqueda */
  .buscador_formulario {
    display: flex;
    align-items: center;
    width: 100%;

  }

  .buscador_formulario input[type="search"] {
    width: 80%;
    padding: 8px 40px 8px 10px;
    font-size: 1.6rem;
    border: 2px solid var(--gris);
    border-radius: 2.5rem;
    background-color: #fff;
    transition: border-color 0.3s;
    margin-top: 0;
  }

  .buscador_formulario input[type="search"]:focus {
    border-color: var(--primario);
    outline: none;
  }

  /* Estilo del botón (icono) */

  .buscador_formulario button {
    position: absolute;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: 14px;
    /* Tamaño del icono */
    height: 14px;
    background-image: url('../img/lupa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
  }

}

/* Estilos básicos para el div contacto */
.contacto {
  padding: 2rem;
  margin: 2rem 5%;
  border-radius: 1rem;
  color: white;
  text-align: center;
}

.contacto_lista {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

/* Para pantallas grandes (a partir de 768px en adelante) */
@media (min-width: 768px) {
  .contacto {
    width: 50%;
    /* El div ocupará el 50% del ancho */
    margin: 2rem auto;
    /* Centrado automático */
    padding: 3rem;
    /* Aumentamos el padding para pantallas más grandes */
  }
}

/* Para pantallas más pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .contacto {
    width: 90%;
    /* El div ocupará el 90% del ancho en pantallas pequeñas */
    margin: 2rem auto;
    /* Centrado automático */
    padding: 2rem;
    /* Padding ajustado para pantallas pequeñas */
    margin-bottom: 0;

  }

}

/* Para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .contacto {
    width: 95%;
    /* El div ocupará el 95% del ancho en pantallas muy pequeñas */
    padding: 1.5rem;
    /* Padding reducido */
    font-size: 1.4rem;
    /* Reducimos el tamaño de la fuente */
    margin: 2rem auto;
  }

}

@media (min-width: 768px) {
  .main {
    margin-top: 20rem;
  }
}


/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10rem;
  margin: 2rem 5%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 2rem 5%;
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 2rem 5%;
    gap: 4rem;
  }
}

/* seccion */
.seccion {
  position: relative;
}

.imagen-contenedor {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.seccion_imagen {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.2rem;
  opacity: 0.5;
}

.seccion_imagen:hover {
  opacity: 1;
  /* Opacidad al pasar el ratón */
}

.seccion_texto {
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-50%, -50%);
  /* Ajusta el texto para que esté centrado perfectamente */
  color: var(--negro);
  font-size: 2.1rem;
  text-align: center;
  background-color: var(--primario);
  padding: 10px;
  font-family: var(--fuentePrincipal);
  border-radius: 1.2rem;
  font-weight: bold;
}


/* En pantallas más pequeñas (tablet y móvil) */
@media (max-width: 1024px) and (min-width: 768px) {
  .seccion_texto {
    left: 40%;
    transform: translateX(-50%);
    /* Solo movemos horizontalmente para centrar */
    font-size: 2.2rem;
    /* Reduce el tamaño del texto en dispositivos más pequeños */
  }
}

@media (max-width: 480px) {
  .seccion_texto {
    left: 43%;
    transform: translateX(-50%);
    /* Asegura que se mantenga centrado */
    font-size: 2.2rem;
    /* Aún más pequeño en móviles */
  }
}


.apartados {
  margin: 7rem 0;
}

.peliculas_contenido {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.peliculas_contenido_imagen {
  width: 100vw;
  height: auto;
  margin-bottom: 2rem;
}

.pelicula_contenido_texto {
  display: block;
  margin: 0;
}


@media (min-width: 769px) {
  .apartados {
    margin: 7rem 0;
  }

  .peliculas_contenido {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
  }

  .peliculas_contenido_imagen {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10rem;

  }

  .peliculas_contenido_texto {
    position: absolute;
    top: 17%;
    left: 10%;
    right: 60%;
    padding: 10px;
    margin-left: 2rem;
    /* Añadir margen a la izquierda */
    margin-right: 2rem;
    /* Añadir margen a la derecha */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    text-align: left;
  }

  .peliculas_contenido_titulo {
    z-index: 10;
    position: absolute;
    top: 7%;
    left: 11%;
  }
}


/* Contacto.html */

.contacto_formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: var(--blanco);
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
}

.formulario {
  width: 90%;
  max-width: 600px;
  margin: 0;
  padding: 2rem;
}

.formulario ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.formulario li {
  margin-bottom: 1.5rem;
}

.campo {
  font-family: sans-serif;
}

.formulario textarea,
.formulario_campo {
  font-family: sans-serif;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.7rem;
  border: 0.8px solid var(--grisClaro);
  background-color: var(--gris);
  color: var(--blanco);
  font-size: 1.8rem;
}

.formulario textarea {
  height: 12rem;
}

.formulario_campo {
  height: 3rem;
}

.btn_enviar {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--grisClaro);
  border: none;
  border-radius: 1rem;
  color: var(--blanco);
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn_enviar:hover {
  background-color: var(--gris);
  /* Cambia el color al pasar el ratón */
}

.campo {
  color: var(--grisClaro);
  font-size: 2rem;
}

.campo_texto {
  color: var(--blanco);
  font-size: 1.5rem;
}


/*boton enviar*/
.btn_enviar {
  background-color: #FA8232;
  /* Color de fondo naranja */
  color: white;
  /* Color del texto en blanco */
  font-size: 1.6rem;
  /* Tamaño de la fuente */
  padding: 1rem 2rem;
  /* Espaciado alrededor del texto */
  border: none;
  /* Eliminar el borde */
  border-radius: 0.5rem;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambiar el cursor a una mano */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Efecto de transición */
}

.btn_enviar:hover {
  background-color: #d86a2f;
  /* Color más oscuro al pasar el ratón */
  transform: scale(1.05);
  /* Agrandar ligeramente el botón cuando pasa el ratón */
}

.btn_enviar:focus {
  outline: none;
  /* Eliminar el contorno del botón cuando es enfocado */
}

.btn_enviar:active {
  transform: scale(0.98);
  /* Efecto de "presionar" el botón */
}

/* footer */
.footer_contacto {
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer_contacto {
    padding: 1rem 10px;
    margin-top: 55px;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
  }

  /* Ajustar los campos del formulario para que ocupen el 100% */
  .formulario_campo,
  .formulario textarea {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

.campo {
  color: var(--grisClaro);
  font-size: 1.5rem;
}

.campo_texto {
  color: var(--blanco);
  font-size: 1.5rem;
}

.footer_terminos {
  background-color: var(--gris);
  font-family: var(--fuentePrincipal);
  text-align: center;
  width: 100%;
  height: 5rem;
  position: relative;
  z-index: 10;
  align-content: center;

}

.footer_terminos p {
  color: var(--blanco);
  font-size: 1.5rem;
}


.main {
  margin-top: 30rem;
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer_terminos {
  background-color: var(--gris);
  font-family: var(--fuentePrincipal);
  text-align: center;
  width: 100%;
  height: 10rem;
  margin: 0;
  padding: 0;
}


.footer_terminos p {
  color: var(--blanco);
  font-size: 1.5rem;
  align-items: center;

}

.contacto_titulo {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}


.error {
  font-family: sans-serif;
  color: red;
  font-size: 0.9em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#confirmacion {
  color: #d86a2f;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  display: none;
}

/* tienda */

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 150px;
  max-width: 1600px; /* Límite máximo de ancho para la cuadrícula */
  margin-left: auto;
  margin-right: auto; /* Centra la cuadrícula */
}

.game-card {
  position: relative;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height: 450px; /* Altura fija para estabilidad */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card img {
  width: 100%;
  height: 70%; /* Proporción fija para la imagen */
  object-fit: cover;
  display: block;
}

.game-card .content {
  height: 30%; /* Espacio fijo para el contenido */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}

.game-card h3 {
  font-size: 18px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-card p {
  font-size: 16px;
  color: #ccc;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buy-button {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 7px 16px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #e03c3c;
}

@media (max-width: 768px) {
  .game-card h3 {
    font-size: 16px;
  }

  .game-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .game-grid {
    padding: 10px;
  }

  .game-card h3 {
    font-size: 14px;
  }

  .game-card p {
    font-size: 12px;
  }
}

.cesta-titulo {
    margin-top: 200px;
}

.centrado-texto {
    text-align: center;
}

.total-cesta {
  margin-top: 35px;
    font-size: 2rem;
    font-weight: normal;
}

.btn_eliminar {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn_eliminar:hover {
    background-color: #ff3333;
}

.contenedor-cesta-inferior {
    display: flex;
    justify-content: flex-end;
    padding: 30px 5%;
}
.total-boton {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Alineación de los iconos del header */
.iconos-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Estilo general para cada icono */
.icono-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Iconos tamaño consistente */
.icono-img {
  width: 24px;
  height: auto;
}

/* Contador del carrito */
#contador-carrito {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: bold;
  z-index: 1000;
}


/*actualidad*/

.news-section {
  width: 100%;
  padding: 20px 0;
  margin-top: 100px;
  box-sizing: border-box;
}

.news-item {
  width: 90%;
  max-width: 1500px;
  margin: 50px auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  max-height: 400px;
}

.news-item h2 {
  font-size: 24px;
  margin: 15px 0;
  text-align: left;
  color: #fff;
}

.news-item p {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
  text-align: justify;
  max-width: 1200px;
}

.formulario-button {
  background-color:var(--primario);
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}


.comment-button:hover {
  background-color: #9c2d2d;
}

@media (max-width: 768px) {
  .news-item {
    width: 95%;
    padding: 15px;
  }

  .news-item img {
    max-height: 300px;
  }

  .news-item h2 {
    font-size: 20px;
  }

  .news-item p {
    font-size: 14px;
  }

  .comment-button {
    font-size: 11px;
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  .news-item {
    width: 98%;
    padding: 10px;
  }

  .news-item img {
    max-height: 200px;
  }

  .news-item h2 {
    font-size: 18px;
  }

  .news-item p {
    font-size: 12px;
  }

  .comment-button {
    font-size: 10px;
    padding: 4px 8px;
  }
}

/*Lo más visto*/

.most-viewed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 20px;
}

.most-viewed-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.most-viewed-item:hover {
  transform: scale(1.05);
}

.most-viewed-image-container {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.most-viewed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.most-viewed-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}

.most-viewed-text h3 {
  font-size: 20px;
  color: #ff8800;
  margin: 0 0 5px 0;
}

.most-viewed-text p {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .centrar-texto {
    font-size: 24px;
  }

  .most-viewed-grid {
    width: 95%;
  }

  .most-viewed-image-container {
    height: 350px;
  }

  .most-viewed-text h3 {
    font-size: 18px;
  }

  .most-viewed-text p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .centrar-texto {
    font-size: 20px;
  }

  .most-viewed-grid {
    width: 98%;
    padding: 0 10px;
  }

  .most-viewed-image-container {
    height: 300px;
  }

  .most-viewed-text h3 {
    font-size: 16px;
  }

  .most-viewed-text p {
    font-size: 10px;
  }
}

/* formulario actualidad */
.formulario-actualidad textarea,
.formulario-actualidad_campo {
  font-family: sans-serif;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.7rem;
  border: 0.8px solid var(--black);
  background-color: var(--grisTransparente);
  color: var(--blanco);
  font-size: 1.8rem;
}


.espaciador p{
  margin-top: 10%;
}
/*seccion actualidad*/
.news-section {
  max-width: 1000rem; /* más ancho */
  margin: 0 auto 40px auto;
  padding: 20px;
  background-color: var(--negro);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.news-item {
  margin-top: 15rem;
  width: 100%;
  background-color: var(--grisTransparente);
}
.news-item h2{
 color: var(--primario);
}
form textarea {
  width:100%; /* ocupa todo el ancho del contenedor */
  min-height: 80px;
  min-width: 30rem;
  padding: 10px;
  border: 2px solid var(--primario);
  border-radius: 6px;
  background-color: var(--grisTransparente);
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
  resize: vertical;
  transition: border-color 0.3s;
}

form textarea::placeholder {
  color: var(--blanco); 
}

form textarea:focus {
  border-color: var(--blanco);
  outline: none;
}

form button {
  margin: 10px auto 0 auto;
  background-color: var(--primario);
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: var(--blanco);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  display: block;
}


form button:hover {
  background-color: #d36e20;
  
}

.comentarios {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.comentarios h3 {
  color: var(--primario);
  margin-bottom: 15px;
  
}
.comentarios p {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}




.comentario {
  background-color: var(--grisTransparente);
  padding: 1px ;
  margin-bottom: 15px;
  border-radius: 6px;
  color: var(--blanco);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 100%;
  
}

.comentario small {
  display: block;
  margin-top: 8px;
  font-size: 0.85rem;
  color: var(--blanco);
  opacity: 0.7;
}

.mensaje {
  max-width: 800px;
  margin: 5% auto 20px auto;
  padding: 12px 20px;
  background-color: var(--primario);
  color: var(--blanco);
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
form textarea {
  width:70rem; /* ocupa todo el ancho del contenedor */
  min-height: 80px;
  min-width: 30rem;
  padding: 10px;
  border: 2px solid var(--primario);
  border-radius: 6px;
  background-color: var(--grisTransparente);
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
  resize: vertical;
  transition: border-color 0.3s;
}
}
.comentarios-scroll {
  max-height: 400px; /* ajusta la altura como prefieras */
  overflow-y: auto;
  padding-right: 10px; /* para evitar que el scroll tape contenido */
}

.img-noticia {
  width: 60%; /* ajusta el ancho relativo al contenedor */
  max-width: 400px; /* ancho máximo fijo */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px auto 20px auto;
  display: block; /* centra la imagen */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primario);
}
